@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

// Reset
* {
  padding: 0;
  margin: 0;
}

// Core styles

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

.content-section {
  -webkit-box-shadow: 1px 1px 4px 1px #969696;
  box-shadow: 1px 1px 4px 1px #969696;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;

  p {
    font-size: 12px;
    line-height: 18px;
  }
}

.input {
  width: 48%;
  display: block;
  height: 45px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 20px;
}

textarea {
  width: 48%;
  display: block;
  height: 85px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 20px;
}


// Header styles

.main-header {
  height: 100px;
  background: url("../assets/GLOWNA_03.jpg");
  z-index: 0;

  .logo {
    height: 60px;
    padding-top: 10px;
    img {
      height: inherit;
    }
  }
}


// Sections

.light-section {
  height: 50vh;
}

.blue-section {
  height: 50vh;
  width: 100%;
  background: #087FE2;
  position: fixed;
  top: 300px;
  z-index: 0;
}

.introduction {
  padding: 30px;
  margin-top: -20px;
  z-index: 10;
  position: relative;
  background: #ffffff;

  p {
    padding: 10px 0;
  }
}


.trainings-list {
  min-height: 200px;
  background: #ffffff;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  header.trainings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px;
    border-bottom: 1px solid #9a9a9a;

    h2, span {
      margin: 20px;
    }

    h2 {
      // margin-left: 50px;
    }

    span {
      font-size: 10px;
      // margin-right: 50px;
    }

  }

  .loader {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin-top: 25px;
  }

  .training-element-container {
    display: flex;
    align-items: center;
    margin: 0px 30px 0 30px;
    border-bottom: 1px solid #e6e6e6;

    .icon {
      width: 140px;
      height: 140px;
      margin: 10px;
      // background:  url("../assets/angular.png");
      // background-size: cover;
      img {
        width: inherit;
      }
    }

    .content {
      // background: green;
      flex: 1;
      padding: 10px;
      height: 100%;
      align-self: flex-start;

      .author {
        font-size: 10px;
        color: #969696;
      }


      .title {
        font-weight: 600;
        margin-bottom: 7px;
        // padding: 5px 0;
      }

      .description {
        font-size: 12px;
        color: #969696;
        padding-bottom: 5px;

      }

      .show-more {
        text-transform: uppercase;
        font-size: 11px;
        color: #44D5AD;
        text-decoration: none;
      }

    }

    .selection {
      height: 40px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 11px;
      text-transform: uppercase;
      color: #C5C7CC;
      font-weight: 700;
      // text-align: end;
      // background:blue;

      span {
        padding: 5px;
      }
    }
  }
}

.registration-panel {
  min-height: 200px;
  padding: 30px;
  margin-bottom: 50px;
  z-index: 10;
  background: #ffffff;
  position: relative;

  form {
    display: flex;
    width: 600px;
    height: 120px;
    flex-wrap: wrap;
    margin-top: 20px;

    // input {
    //   width: 48%;
    //   display: block;
    //   height: 45px;
    //   border-radius: 50px;
    //   outline: none;
    //   border: 1px solid #dbdbdb;
    //   box-sizing: border-box;
    //   margin: 0 5px;
    //   padding: 20px;
    // }
  }

  .selected-trainings-container {
    display: none;
  }

  .selected-trainings {
    min-height: 10px;
    margin-top: 8px;
  }

  .selected-training {
    font-size: 10px;
    background: #faf0f0;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;

    .remove-selection {
      font-size: 12px;
      margin-top: 12px;
      cursor: pointer;
    }
  }

  .registration-btn {
    margin-top: 20px;
    background: #44D5AD;
    border: none;
    border-radius: 45px;
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    outline: none;
    font-weight: 700;
  }

}

// Footer

.main-footer {
  height: 400px;
  background: #087FE2;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;

  .footer-container {
    display: flex;
  }

  .footer-info {
    flex: 1;
    min-height: 50px;
    // background: red;
    padding: 30px;
    display: block;
    color: white;
    font-size: 12px;
  }

  .footer-form {
    flex: 1;
    min-height: 50px;
    // background: forestgreen;
    // display: block;

    form {
      display: flex;
    }

    h3 {
      color: white;
      text-transform: uppercase;
      margin: 10px;
    }

    input, textarea {
      width: 300px;
      margin: 10px;
    }

    textarea {
      border-radius: 30px;
    }

    button {
      width: 150px;
      margin-top: 20px;
      background: #44D5AD;
      border: none;
      border-radius: 45px;
      height: 50px;
      padding: 15px;
      text-transform: uppercase;
      color: white;
      outline: none;
      font-weight: 700;
    }
  }

}



@media all and (max-width: 1000px) {
  .container{
    width: 90%;
  }

  .main-footer .footer-form button, .registration-btn {
    width: 100%;
  }

  .footer-form input, .footer-form textarea {
    margin: 10px 0 !important;
  }
}


@media all and (max-width: 750px) {


  .trainings-list .training-element-container  {
    flex-direction: column;
  }

  .main-footer {
    height: auto;

    .footer-container {
      flex-direction: column-reverse;

      form{
        flex-direction: column;
        height: auto;
        width: auto;

        input, textarea {
          width: 100%;
          margin: 10px;
        }
      }
    }

  }

  .registration-panel form{
    flex-direction: column;
    height: auto;
    width: auto;

    input {
      width: 100%;
      margin: 10px;
    }
  }
}
