@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif; }

.content-section {
  -webkit-box-shadow: 1px 1px 4px 1px #969696;
  box-shadow: 1px 1px 4px 1px #969696;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .content-section p {
    font-size: 12px;
    line-height: 18px; }

.input {
  width: 48%;
  display: block;
  height: 45px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #dbdbdb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 5px;
  padding: 20px; }

textarea {
  width: 48%;
  display: block;
  height: 85px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #dbdbdb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin: 0 5px; */
  padding: 20px; }

.main-header {
  height: 100px;
  background: url("../assets/GLOWNA_03.jpg");
  z-index: 0; }
  .main-header .logo {
    height: 60px;
    padding-top: 10px; }
    .main-header .logo img {
      height: inherit; }

.light-section {
  height: 50vh; }

.blue-section {
  height: 50vh;
  width: 100%;
  background: #087FE2;
  position: fixed;
  top: 300px;
  z-index: 0; }

.introduction {
  padding: 30px;
  margin-top: -20px;
  z-index: 10;
  position: relative;
  background: #ffffff; }
  .introduction p {
    padding: 10px 0; }

.trainings-list {
  min-height: 200px;
  background: #ffffff;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; }
  .trainings-list header.trainings-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 35px;
    border-bottom: 1px solid #9a9a9a; }
    .trainings-list header.trainings-header h2, .trainings-list header.trainings-header span {
      margin: 20px; }
    .trainings-list header.trainings-header span {
      font-size: 10px; }
  .trainings-list .loader {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin-top: 25px; }
  .trainings-list .training-element-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 30px 0 30px;
    border-bottom: 1px solid #e6e6e6; }
    .trainings-list .training-element-container .icon {
      width: 140px;
      height: 140px;
      margin: 10px; }
      .trainings-list .training-element-container .icon img {
        width: inherit; }
    .trainings-list .training-element-container .content {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 10px;
      height: 100%;
      -ms-flex-item-align: start;
      align-self: flex-start; }
      .trainings-list .training-element-container .content .author {
        font-size: 10px;
        color: #969696; }
      .trainings-list .training-element-container .content .title {
        font-weight: 600;
        margin-bottom: 7px; }
      .trainings-list .training-element-container .content .description {
        font-size: 12px;
        color: #969696;
        padding-bottom: 5px; }
      .trainings-list .training-element-container .content .show-more {
        text-transform: uppercase;
        font-size: 11px;
        color: #44D5AD;
        text-decoration: none; }
    .trainings-list .training-element-container .selection {
      height: 40px;
      width: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      font-size: 11px;
      text-transform: uppercase;
      color: #C5C7CC;
      font-weight: 700; }
      .trainings-list .training-element-container .selection span {
        padding: 5px; }

.registration-panel {
  min-height: 200px;
  padding: 30px;
  margin-bottom: 50px;
  z-index: 10;
  background: #ffffff;
  position: relative; }
  .registration-panel form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    height: 120px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px; }
  .registration-panel .selected-trainings-container {
    display: none; }
  .registration-panel .selected-trainings {
    min-height: 10px;
    margin-top: 8px; }
  .registration-panel .selected-training {
    font-size: 10px;
    background: #faf0f0;
    padding: 5px;
    margin: 10px;
    border-radius: 3px; }
    .registration-panel .selected-training .remove-selection {
      font-size: 12px;
      margin-top: 12px;
      cursor: pointer; }
  .registration-panel .registration-btn {
    margin-top: 20px;
    background: #44D5AD;
    border: none;
    border-radius: 45px;
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    outline: none;
    font-weight: 700; }

.main-footer {
  height: 400px;
  background: #087FE2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  position: relative; }
  .main-footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-footer .footer-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 50px;
    padding: 30px;
    display: block;
    color: white;
    font-size: 12px; }
  .main-footer .footer-form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 50px; }
    .main-footer form {
      display: grid;
      grid-template-areas:
        'header1 header2'
        'main main';
    }
    .main-footer .footer-form h3 {
      color: white;
      text-transform: uppercase;
      margin: 10px; }
    .main-footer .footer-form input {
      width: 300px;
      margin: 10px 15px 10px 0;
    }
    .main-footer .footer-form textarea {
      grid-area: main;
      width: 100%;
      border-radius: 30px; }
    .main-footer .footer-form button {
      width: 150px;
      margin-top: 20px;
      background: #44D5AD;
      border: none;
      border-radius: 45px;
      height: 50px;
      padding: 15px;
      text-transform: uppercase;
      color: white;
      outline: none;
      font-weight: 700; }

@media all and (max-width: 1000px) {
  .container {
    width: 90%; }
  .main-footer .footer-form button, .registration-btn {
    width: 100%; }
  .footer-form input, .footer-form textarea {
    margin: 10px 0 !important; } }

@media all and (max-width: 750px) {
  .trainings-list .training-element-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-footer {
    height: auto; }
    .main-footer .footer-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .main-footer .footer-container form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        width: auto; }
        .main-footer .footer-container form input, .main-footer .footer-container form textarea {
          width: 100%;
          margin: 10px; }
  .registration-panel form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: auto; }
    .registration-panel form input {
      width: 100%;
      margin: 10px; } }
